.header-position {
    position: absolute;
    top: 8px;
    left: 40%;
    color: yellow;
}

body {
    background-color:black;
}

p{
    color: yellow;
}

.header-color {
    color: aqua;
}

#proj-1-para-1 {
    position: relative;
    left: 8%;
    color: yellow;
}

#adjust-image-1{
    position: relative;
    left: 5%;
}

#proj-2-para-2 {
    position: relative;
    bottom: 450px;
    left: 48%;
    color: yellow;
}

#adjust-image-2{
    position: relative;
    bottom: 450px;
    left: 40%;
}

#bottom-bar {
    border-top: solid;
    position: relative;
}