.header-position {
    position: absolute;
    top: 8px;
    left: 40%;
    color: yellow;
}

body {
    background-color:black;
}

p{
    color: yellow;
}

.header-color {
    color: aqua;
}

#proj-1-para-1 {
    position: absolute;
    top: 625px;
    left: 80px;
    color: yellow;
}

#adjust-image-1{
    position: absolute;
    top: 660px;
}

#proj-2-para-2 {
    position: absolute;
    top: 625px;
    left: 38%;
    color: yellow;
}

#adjust-image-2{
    position: absolute;
    top: 660px;
    left: 30%;
}

#bottom-bar {
    border-top: solid;
    position: relative;
    top: 450px;
}